<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Noticias</title>
	</head>
	<body>
		<h1>Noticia do dia!</h1>
		<p>Tela de conteúdo está funcionando corretamente</p>

		
	</body>
</html>
