<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Newsletter</title>
	</head>
	<body>
		<section class="form">
			<h1>Registe-se na Nossa Newsletter</h1>
			<form
				action="/register"
				method="POST">
				<label for="username">nome:</label>
				
				<label for="email">Email:</label>
				<input
					type="email"
					name="email"
					id="email" />
				
				

				<button type="submit">Enviar</button>
			</form>
		</section>
	</body>
</html>
