* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px auto;
  grid-template-rows: minmax(70px, auto);

  gap: 10px 10px;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4"
    "item5 item5 item5"
    "item6 item6 item7"
    "item8 item8 item8";
}
.header {
  border: 2px solid;
  background-color: white;
}
.item {
  border: 2px solid;
  background-color: white;
}
.footer {
  border: 2px solid;
  background-color: white;
}

.item1 {
  grid-area: item1;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item8 {
  grid-area: item8;
}
