

body{
	background-color: rgb(41, 7, 7);
}


.containerChartAndLegend {
	display: flex;
	.graficoContainer {
		/* margin: 3rem auto 3rem auto; */
		width: 150px;
		height: 150px;
	}
	#legend-container {
		width: 300px;
		height: 150px;
		overflow: scroll;
		margin: 0 0 1rem 0;
	}
}

.square {
	width: 250px;
	height: 150px;
	border-radius: 2rem;
	background-color: rgba(51, 72, 13, 0.6);
	padding: 1rem;

	.descriptiveText {
		font-size: 14px;
		width: 20ch;
		overflow: hidden;
	}
}
