<header class="bg-dark w-100">
	<nav class="d-flex">
		<form
			action="/tasks"
			method="get"
			class="m-3">
			<button
				type="submit"
				class="nav-bntTasks border-0 bg-primary-subtle rounded-2">
				Tarefas
			</button>
		</form>

		<form
			action="/createTask"
			method="get"
			class="m-3">
			<button
				type="submit"
				class="nav-bntTasks border-0 bg-primary-subtle rounded-2">
				Criar Tarefas
			</button>
		</form>
	</nav>
</header>
